Q1. How do you comment code in Python? What are the different types of comments?

ANS -  To comment code in Python, we can use the hash symbol #. Any text that follows the hash symbol on the same line is considered a comment and is ignored by the Python interpreter.

There are three types of comments in Python:

Single-line comments: These comments start with the hash symbol and continue until the end of the line. They are used to provide short explanations for variables, function declarations, and expressions.
Multi-line comments: Python does not provide a syntax for multi-line comments. However, you can use multiple hash symbols to write multi-line comments in Python. Each line will be considered as a single-line comment.
Docstring comments: Docstrings are string literals with triple quotes that appear right after a function, module, or class definition. They are used to associate documentation with Python modules, functions, classes, and methods. Docstrings are made available via the attribute in Python.

Q2. What are variables in Python? How do you declare and assign values to variables?

ANS - In Python, variables are containers used to store data values. We can think of them as named storage locations that hold information. Unlike some other programming languages, Python does not require you to explicitly declare a variable before using it. EXAMPLE:

In [1]:
x = 45
y = "yes","no"
z = "kumar","world!"

In [2]:
x

45

In [3]:
y

('yes', 'no')

In [4]:
type(x)

int

In [5]:
type(y)

tuple

In [2]:
type(z)

tuple

Q3. How do you convert one data type to another in Python?

ANS -  In Python, we can convert one data type to another using type conversion functions. Python provides two types of type conversion: implicit and explicit.

Implicit Example:

In [9]:
a = 2
b = 55.786

In [4]:
type(a)

int

In [10]:
type(b)

float

In [11]:
type(a+b)

float

As we can see when we add an integer and a float, the integer is implicitly converted to a float before the addition operation is performed.

Explicit Example :

In [12]:
x = 42

In [14]:
int(x)

42

In [15]:
float(x)

42.0

In [16]:
str(x)

'42'

In [17]:
bool(x)

True

As we can see, explicit type conversion is performed by the user using specific functions to convert data from one type to another. This is also known as type casting.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

ANS -  To slice the list (my_list) and obtain the sub list [2,3] , we can use the following code in python :

In [20]:
my_list = [1,2,3,4,5]

In [21]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is an element of a number system that extends the real numbers with a specific element denoted (j) , called the imaginary unit. A complex number can be expressed in the form  4+5j, where 4 is a real number and 5j is the imaginary unit. 
For Example :

In [22]:
y = 6+7j

In [23]:
type(y)

complex

In [24]:
y.real

6.0

In [26]:
y.imag

7.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

ANS -  To declare a variable named age and assign the value 25 to it in python language , the correct way is :
firstly we type variable name - age , then = , then assign the value 25 , then execute the row. Again when we call age variable , it gives 25 as a data. 
EXAMPLE :

In [3]:
age = 25

In [4]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Ans -  We are going to take a variable name , price and assign the value 9.99

In [5]:
price = 9.99

To check the variable data type, we follow these steps :-

In [6]:
type(price)

float

As we can see , to execute the type(price) , we got float type of data.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

ANS -  To create a variable named, name and assign our full name to it as a string we can use the following syntax in python.

In [7]:
name = "surbhi bhardwaj"

To print the value of the variable name, we can use the following syntax :

In [8]:
print(name)

surbhi bhardwaj

As we can see , to execute print(name), it print the value of name variable.

Q10. Given the string "Hello, World!", extract the substring "World".

ANS -  To extract the substring "World" from the string "Hello, World!", we can use following syntax :

In [9]:
a = "Hello, World!"

In [10]:
a[7:12]

'World'

As we can see the substring "World" extract from the string "Hello, World!"
In this syntax a is the name of variable amd "Hello, World!" is the data of a's variable which is string.

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

ANS -  To create a variable named , is_student and assign it a boolean value indicating whether we are currently a student or not , we can use the following syntax :

In [11]:
is_student = True

In this example , the variable is_student is assigned the boolean value - True, indicating that we are currently a student. if we are not a student, we can assign the value False to the variable.
True and False are the boolean values.

Q4. How do you write and execute a Python script from the command line?

ANS -  To write and execute a Python script from the command line, we can follow these steps:

Open a command prompt or terminal window.
Navigate to the directory where you want to create our Python script using the  command.
Create a new file with a .py extension using a text editor such as Notepad, Sublime Text, or Visual Studio Code.
Write our Python code in the file and save it.
To execute the script, type python followed by the name of our script file and press Enter. FOR EXAMPLE: hello.py
This will run the hello.py script and display the output in the command prompt or terminal window.